body, html {
    height: 100%;
    margin-left: 20px;
    margin-right:20px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.heading {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.topnav {
    display: none;
}
.topnav {
    overflow: hidden;
    background-color: rgb(121, 22, 22);
    position: relative;
    align-self: end;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background-color: white;
    color: rgb(6, 29, 128);
    background: white;
    display: block;
    position: absolute;
    right: 600;
    top: 0;
  }
  
  .active {
    background-color:white;
    color: white;
  }
@media (max-width: 960px) {
    .heading .navigation     { display: none; }
    .heading .topnav {
        display: inline;
    }
    .middle_content {
        order: 2;
        align-self: center;
        font-size: 22px;
        width: 500px;
        height: 470px;
    }
    .middle_image {
        order: 1;
        overflow: hidden;
        background-image: url('images/bg-intro-desktop.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 600px;
    }
    
    .heading .requestInfo {display: none;}
  }
.navigation {
    display: inline;
    margin-top: 10px;
    margin-left: 150px;
}
.heading .navigation a:link {
    margin-left: 10px;
    text-decoration: none;
    color: hsl(232, 47%, 77%);
}
.heading .navigation a:visited {
    margin-left: 10px;
    text-decoration: none;
    color: hsl(232, 47%, 77%);
}
.heading .navigation a:hover {
    margin-left: 10px;
    text-decoration: none;
    color: hsl(232, 47%, 77%);
}
.heading .navigation a:active {
    margin-left: 10px;
    text-decoration: none;
    color: hsl(232, 47%, 77%);
}
.requestInfo a:link{
    width: 140px;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(108, 70%, 60%), hsl(293, 50%, 62%));
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 150px;
}
.middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.middle_content {
    align-self: center;
    font-size: 22px;
    width: 500px;
    height: 470px;
}
.middle_content h1{
    color:rgb(29, 35, 65);
}
.middle_content p {
    color: rgb(29, 35, 65);
    font-weight: 100;
}
.middle_image {
    overflow: hidden;
    background-image: url('images/bg-intro-desktop.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 600px;
}

 .middle_image img {
     overflow: hidden;
     position: relative;
     top: -100px;
     right: -75px;
     width: 450px;
     height: 650px;
 }
 .middle a:link{
    width: 180px;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(108, 70%, 60%), hsl(293, 50%, 62%));
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.why-easybank {
    display: flex;
    flex-direction: column;
}
.why-heading {
    color:rgb(29, 35, 65);
}

.why-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one { 
    width: 250px;
}
.one img{
    margin-left:50px;
}
.one section{
    margin-left: 30px;
    font-weight: 800;
    color:rgb(29, 35, 65);
}
.one p{
    font-weight: 400;
    color: rgb(29, 35, 65);;
}
.two {
    width: 250px;
}
.two img{
    margin-left:50px;
}
.two section{
    margin-left: 30px;
    color: rgb(29, 35, 65);
    font-weight: 800;
}
.two p{
    font-weight: 400;
    color: rgb(29, 35, 65);;
}
.third {
    width: 250px;
}
.third img{
    margin-left:50px;
}
.third section{
    margin-left: 30px;
    color: rgb(29, 35, 65);
    font-weight: 800;
}
.third p{
    font-weight: 400;
    color: rgb(29, 35, 65);;
}
.fourth {
    width: 250px;
}
.fourth img{
    margin-left:50px;
}
.fourth section{
    margin-left: 50px;
    color: rgb(29, 35, 65);
    font-weight: 800;
}
.fourth p{
    font-weight: 400;
    color: rgb(29, 35, 65);;
}
.article {
    display: flex;
    flex-direction: column;
    color: rgb(29, 35, 65);
}
.article-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Article {
    display: flex;
    flex-direction: column;
}
.article-image {
    width: 250px;
    height: 250px;
}
.article-image img {
    width: 100%;
    height: 100%;
}
.article-content {
    color: rgb(29, 35, 65);
    width: 250px;
    height: 250px;
}

.footer {
    background-color: hsl(233, 26%, 24%);
}
#logo {
    color: white;
}
.end a:link{
    width: 180px;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(108, 70%, 60%), hsl(293, 50%, 62%));
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.images {
    margin: 0 0 15px 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logoLast {
    color: white;
    background-image: url("images/logo.svg");
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px; 
}
.Section {
    margin: 20px 0 15px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Section .section1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20px;
}
.Section .section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.Section a:link{
       
    text-decoration: none;
    color: white;
}
.end {
    margin-top: 20px;
    color: white;
}